*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.img{
    width: 100%;
    height: 100vh;
    background-image:  url(img/index.jpg);
    background-size: cover;
    background-position: center;
}
.nav{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nav  li{
    list-style:none ;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

    .nav  li a{
        text-decoration: none;
        color:rgba(24, 2, 2, 0.733);
        text-transform: uppercase;
    }
    .nav li ::after{
        content:'';
        height: 3px;
        width: 0;
        background-color: #20e9d5;
        position: absolute;
        left: 0;
        bottom:-10px;
        transition: 0.5s;

    }
    .nav  li :hover::after{
        width: 100%;


    }
    .content{
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        color: #fff;
    }.content h1{
        font-size: 70px;
        margin-top: 80px;

    }
     .content p{
        margin: 20px auto;
        font-weight: 100;
        line-height: 25px;

    }
   
    .draw-border {
        box-shadow: inset 0 0 0 4px #58afd1;
        color: #d8dfdb;
        transition: color 0.25s 0.0833333333s;
        position: relative;
      }
      .draw-border::before, .draw-border::after {
        border: 0 solid transparent;
        box-sizing: border-box;
        content: "";
        pointer-events: none;
        position: absolute;
        width: 0;
        height: 0;
        bottom: 0;
        right: 0;
      }
      .draw-border::before {
        border-bottom-width: 4px;
        border-left-width: 4px;
      }
      .draw-border::after {
        border-top-width: 4px;
        border-right-width: 4px;
      }
      .draw-border:hover {
        color: #0b0a0e;
      }
      .draw-border:hover::before, .draw-border:hover::after {
        border-color: #f70505;
        transition: border-color 0s, width 0.25s, height 0.25s;
        width: 100%;
        height: 100%;
      }
      .draw-border:hover::before {
        transition-delay: 0s, 0s, 0.25s;
      }
      .draw-border:hover::after {
        transition-delay: 0s, 0.25s, 0s;
      }
      
      .btn {
        background: none;
        border: none;
        cursor: pointer;
        line-height: 1.5;
        font: 700 1.2rem "Roboto Slab", sans-serif;
        padding: 1em 2em;
        letter-spacing: 0.05rem;
      }
      .btn:focus {
        outline: 2px dotted #b3e20b;
      }
      
      body {
        background: #1f1a25;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
      }
      .draw-border{
          text-decoration: none;
      }
     

   